<h2>Clustered</h2>

<% @clusters.each.with_index do |cluster, i| %>
    <div class="container-fluid clustered-countries">
        <% closed = true %>
        <% cluster.each.with_index do |flag, j| %>
            <% if j % 6 == 0 %>
                <% closed = false %>
                <div class="row">
            <% end -%>
            <div class="col-xs-6 col-md-4">
                <%= image_tag("#{flag.iso}.gif") if flag.iso %>
                <%= flag %>
            </div>
            <% if j % 6 == 5 %>
                <% closed = true %>
                </div>
            <% end -%>
        <% end -%>
        <% if not closed %>
            </div>
        <% end -%>
    </div>
<% end -%>
