<h2>Get started</h2>
<p>
    Choose how to cluster your the flags:
</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <%= link_to 'Choose your flags!', action: 'choose' %>
        </div>
        <div class="col-md-6">
            <%= link_to 'Random flags!', action: 'random' %>
        </div>
    </div>
</div>
