<h2>Clustered</h2>

<% @clusters.each.with_index do |cluster, i| %>
    <%= i + 1 %>:
    <ul>
        <% cluster.each do |flag| %>
            <li>
                <%= flag %>
            </li>
        <% end -%>
    </ul>
<% end -%>